openapi: 3.1.0
info:
  title: Lumos REST AccessPolicies Accounts API
  description: 'The Lumos REST API enables programmatic access to the Lumos identity

    platform for automating user, group, app, account, access policy, access

    request, access review, pre-approval rule, task, vendor agreement, and

    activity log management. All requests use a Bearer token (prefixed `lsk_`)

    in the Authorization header.

    '
  version: '1.0'
  contact:
    name: Lumos Developers
    url: https://developers.lumos.com/
  license:
    name: Proprietary
    url: https://www.lumos.com/terms
servers:
- url: https://api.lumos.com
  description: Lumos API
security:
- BearerAuth: []
tags:
- name: Accounts
paths:
  /accounts:
    get:
      tags:
      - Accounts
      summary: List all accounts
      operationId: listAccounts
      responses:
        '200':
          description: A list of accounts
          content:
            application/json:
              schema:
                type: object
  /accounts/upload:
    post:
      tags:
      - Accounts
      summary: Upload accounts
      operationId: uploadAccounts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '202':
          description: Upload accepted
          content:
            application/json:
              schema:
                type: object
  /accounts/upload/{job_id}:
    parameters:
    - name: job_id
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Accounts
      summary: Check upload status
      operationId: getAccountsUploadStatus
      responses:
        '200':
          description: Upload status
          content:
            application/json:
              schema:
                type: object
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: Lumos API key (lsk_ prefix)
