openapi: 3.1.0
info:
  title: Lumos REST AccessPolicies PreApprovalRules API
  description: 'The Lumos REST API enables programmatic access to the Lumos identity

    platform for automating user, group, app, account, access policy, access

    request, access review, pre-approval rule, task, vendor agreement, and

    activity log management. All requests use a Bearer token (prefixed `lsk_`)

    in the Authorization header.

    '
  version: '1.0'
  contact:
    name: Lumos Developers
    url: https://developers.lumos.com/
  license:
    name: Proprietary
    url: https://www.lumos.com/terms
servers:
- url: https://api.lumos.com
  description: Lumos API
security:
- BearerAuth: []
tags:
- name: PreApprovalRules
paths:
  /appstore/pre_approval_rules:
    get:
      tags:
      - PreApprovalRules
      summary: List pre-approval rules
      operationId: listPreApprovalRules
      responses:
        '200':
          description: Pre-approval rules
          content:
            application/json:
              schema:
                type: object
    post:
      tags:
      - PreApprovalRules
      summary: Create pre-approval rule
      operationId: createPreApprovalRule
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
  /appstore/pre_approval_rules/{pre_approval_rule_id}:
    parameters:
    - name: pre_approval_rule_id
      in: path
      required: true
      schema:
        type: string
    patch:
      tags:
      - PreApprovalRules
      summary: Update pre-approval rule
      operationId: updatePreApprovalRule
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                type: object
    delete:
      tags:
      - PreApprovalRules
      summary: Delete pre-approval rule
      operationId: deletePreApprovalRule
      responses:
        '204':
          description: Deleted
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: Lumos API key (lsk_ prefix)
