openapi: 3.1.0
info:
  title: Lumos REST AccessPolicies AccessReviews API
  description: 'The Lumos REST API enables programmatic access to the Lumos identity

    platform for automating user, group, app, account, access policy, access

    request, access review, pre-approval rule, task, vendor agreement, and

    activity log management. All requests use a Bearer token (prefixed `lsk_`)

    in the Authorization header.

    '
  version: '1.0'
  contact:
    name: Lumos Developers
    url: https://developers.lumos.com/
  license:
    name: Proprietary
    url: https://www.lumos.com/terms
servers:
- url: https://api.lumos.com
  description: Lumos API
security:
- BearerAuth: []
tags:
- name: AccessReviews
paths:
  /access_reviews:
    get:
      tags:
      - AccessReviews
      summary: List access reviews
      operationId: listAccessReviews
      responses:
        '200':
          description: Access reviews
          content:
            application/json:
              schema:
                type: object
    post:
      tags:
      - AccessReviews
      summary: Create access review campaign
      operationId: createAccessReview
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
  /access_reviews/{access_review_id}:
    parameters:
    - name: access_review_id
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - AccessReviews
      summary: Get access review details
      operationId: getAccessReview
      responses:
        '200':
          description: Access review
          content:
            application/json:
              schema:
                type: object
    patch:
      tags:
      - AccessReviews
      summary: Update access review
      operationId: updateAccessReview
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                type: object
    delete:
      tags:
      - AccessReviews
      summary: Delete access review
      operationId: deleteAccessReview
      responses:
        '204':
          description: Deleted
  /access_reviews/{access_review_id}/apps:
    parameters:
    - name: access_review_id
      in: path
      required: true
      schema:
        type: string
    post:
      tags:
      - AccessReviews
      summary: Add apps to access review
      operationId: addAppsToAccessReview
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Apps added
          content:
            application/json:
              schema:
                type: object
  /access_reviews/{access_review_id}/apps/{arda_id}:
    parameters:
    - name: access_review_id
      in: path
      required: true
      schema:
        type: string
    - name: arda_id
      in: path
      required: true
      schema:
        type: string
    delete:
      tags:
      - AccessReviews
      summary: Remove app from access review
      operationId: removeAppFromAccessReview
      responses:
        '204':
          description: Removed
  /access_reviews/scope_options:
    get:
      tags:
      - AccessReviews
      summary: Get scope filter options
      operationId: getAccessReviewScopeOptions
      responses:
        '200':
          description: Scope options
          content:
            application/json:
              schema:
                type: object
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: Lumos API key (lsk_ prefix)
